# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# MATLAB
# File di auto-salvataggio generati automaticamente da MATLAB
*.asv
*.m~
# File di dati MATLAB (spesso grandi e generati dalle simulazioni)
# Rimuovi il commento (il cancelletto) qui sotto se vuoi ignorare i file .mat
*.mat

# Ambienti di sviluppo e IDE (es. VSCode o cursor)
.vscode/
.idea/
*.swp

# File di compilazione LaTeX (utile se scrivi la relazione d'esame in LaTeX)
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz

# Varie ed eventuali file di dipendenze web (se ne farai uso)
node_modules/
.env
