<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seleziona il Ruolo</title>
    <link rel="stylesheet" href="/App/Views/css/selectRole.css" />
    <link rel="stylesheet" href="/App/Views/css/loader.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <script src="/App/Views/js/loader.js"></script>
  </head>
  <body>
    <div class="loader"></div>
    <a id="maps" href="#" onclick="window.location.href='/mapChoiceView'"
      ><i class="fa-solid fa-arrow-circle-left"></i
    ></a>
    <h2>Non hai un ruolo in questa mappa!</h2>
    <h1>Seleziona un ruolo disponibile</h1>

    <form id="roleForm">
      <label for="role">Ruolo:</label>
      <select id="role" name="role" required></select>

      <input type="hidden" name="userId" id="userId" />
      <input type="hidden" name="mapId" id="mapId" />
      <input type="submit" value="Seleziona Ruolo" />
    </form>

    <script src="/App/Views/js/selectRole.js"></script>
  </body>
</html>
